{% extends 'base.html' %}

{% block content %}
  <h1>{{ auction.name }}</h1>
  <img src="{{ auction.image }}" alt="Auction Image">
  <p>{{ auction.description }}</p>
  <p>Start Price: ${{ auction.startPrice }}</p>
  <p>Reserve Price: ${{ auction.reservePrice }}</p>
  <p>Expires on: {{ auction.expiryDate.strftime("%Y-%m-%d %H:%M:%S") }}</p>

  {% if highest_bid %}
    <p>Current highest bid: {{ highest_bid.amount }} by {{ highest_bid.user.username }}</p>
  {% endif %}

  <form method="post">
    <label for="bid_amount">Your bid:</label>
    <input type="number" step="0.01" min="{{ highest_bid.amount + 1 if highest_bid else auction.startPrice }}" id="bid_amount" name="bid_amount" required>
    <button type="submit">Place bid</button>
  </form>

{% endblock %}
